*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body{
    height: 100%;
    width: 100%;
    overflow:hidden;
    display: flex;
    color: #424242;
    background: #f2f4f8;
}


.card {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    flex: 1;
    box-shadow: 0 14px 26px rgba(156, 39, 176, 0.4);
    transition: all 0.3s ease-out;
    text-decoration: none;
    border: 1px solid #9c27b0;
}
.card .card-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    background: #9c27b0;
    padding: 5px 10px;
    position: relative;
    height: 25px;
    line-height: 25px;
}
.card .card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 1.5em;
    min-height: 30px;
}